.locationWrapper {
  width: 50%;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .refresBtn,
.header .addBtn {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 2rem;
  border-radius: 0.2rem;
  color: #565656;
}

.header .addBtn:hover {
  border: 1px solid #b1afaf;
}

.header .refresBtn {
  border: 1px solid #b1afaf;
}

.searchWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #b1afaf;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.searchWrapper svg {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #989898;
}

.searchWrapper input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.4rem 0.2rem;
  margin: 0.1rem;
}

.filterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.filterBtn {
  border: 1px solid #b1afaf;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  box-shadow: inset 0 0 20px -15px gray;
  color: #989898;
  text-transform: capitalize;
}

.filterBtn:hover {
  color: black;
}

.filterBtnActive {
  background-color: #3bcb3b;
  color: white;
}

.locationContent {
  padding: 1rem 4rem;
  overflow-y: auto;
  height: calc(100vh - 25%);
}

.cardWrapper {
  box-shadow: 0 0 2px lightgray;
  margin-top: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.cardWrapper .left .title {
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.cardWrapper .left .title:hover {
  color: gray;
}

.cardWrapper .left .subTitle {
  color: gray;
  font-size: 0.9rem;
}

.widgetsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: fit-content;
}

.widgetsWrapper span {
  margin-right: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #989898;
}

.widgetsWrapper span:hover {
  color: black;
  transform: scale(1.1);
}

.widgetsWrapper .locationBtn:hover {
  color: green;
}
.widgetsWrapper .phoneBtn:hover {
  color: orange;
}

.cardWrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.cardWrapper .right .active,
.cardWrapper .right .inactive {
  background-color: #3bcb3b;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  width: fit-content;
  text-transform: uppercase;
}

.cardWrapper .right .inactive {
  background-color: gray;
}

.cardWrapper .right .updatedAt {
  font-size: 0.7rem;
  color: #565656;
}
